.service-detail {
	.examples-slider {
		.swiper-slide {
			width: 80%;

			@media (min-width: 650px) {
				width: 100%;
				max-width: 340px;
			}

			@media (min-width: 1040px) {
				width: 100%;
				max-width: 390px;
			}

			img {
				width: 100%;
				height: auto;
				object-fit: contain;
			}
		}

		.swiper-pagination {
			position: static;
			padding: 20px 0;

			&-bullet-active {
				background-color: var(--primary);
			}
		}

		.swiper-button-prev,
		.swiper-button-next {
			transform: translateY(-50%);
		}
	}
}
