@use "@scss/base/container-queries" as *;

.catalog-viewed {
	container: catalog-viewed/ inline-size;

	&-slider {
		&.swiper {
			width: calc(100% + var(--container-offset) * 2);
			padding: 0 var(--container-offset) clamp(10px, 2.4vw, 20px);
			margin: 0 calc(var(--container-offset) * -1);
		}

		& > .swiper-wrapper > .swiper-slide {
			width: 80%;

			@include container-up("catalog-viewed", 520px) {
				max-width: 280px;
			}
		}

		& &__pagination {
			position: static;
			width: 100%;
			margin-top: 14px;
		}
	}

	.product-item {
		box-shadow: none;
		border: 1px solid var(--gray-500);

		&-footer {
			display: none;
		}

		@include container-up("catalog-viewed", 780px) {
			&:hover {
				border-color: transparent;
				box-shadow: 0 4px 4px #00000040;
			}

			&-footer {
				position: static;
				display: flex;
				width: auto;
				height: auto;
				z-index: auto;
			}
		}
	}
}
