@use "@scss/base/container-queries" as *;

.popup-form {
	border-radius: 20px;

	.main-checkbox-wrapper {
		margin: 12px 0;
	}

	form {
		display: flex;
		flex-direction: column;
		position: relative;

		align-items: center;
		text-align: center;
		gap: 16px;
		width: 100%;
		margin: 0 auto;
		z-index: 3;

		.main-input-wrapper,
		.main-textarea-wrapper {
			width: 100%;
		}

		*[type="submit"] {
			background-color: var(--white);
			color: var(--white);
			width: 100%;
			background-color: var(--primary);
		}
	}

	&__header {
		// outline: 1px solid red;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 10px;
		width: 100%;

		* {
			margin: 0;
		}
	}

	.main-checkbox-wrapper {
		@media (max-width: 500px) {
			gap: 20px;
		}
	}

	.main-checkbox-wrapper a {
		color: var(--primary);
	}
}
