@use "@scss/base/container-queries" as *;

.bx-soa {
	container: bx-soa / inline-size;

	&-section-title {
		font-size: 24px;
		font-weight: 600;
		color: var(--primary);
	}

	&-customer {
		display: flex;
		flex-direction: column;

		gap: 24px;
		margin: 24px 0;

		@include container-up(bx-soa, 620px) {
			flex-direction: row;
			flex-wrap: wrap;
		}

		&-field {
			display: flex;
			flex-direction: column;
			gap: 6px;
			position: relative;

			label {
				padding-left: 16px;
			}
		}

		.form-group {
			width: 100%;

			@include container-up(bx-soa, 620px) {
				width: calc(50% - 12px);
			}

			order: 2;

			&:has(textarea) {
				width: 100%;
				order: 3;
			}
		}
	}

	&-items-container {
		display: flex;
		flex-direction: column;
		gap: 40px;
		height: fit-content;
		max-height: 320px;
		overflow: hidden;
		overflow-y: auto;
		padding-right: 12px;

		&::-webkit-scrollbar {
			width: 4px;
		}
	}

	&-item {
		&-prop-row {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 12px;
			font-size: 14px;
			padding: 4px 0;
			border-bottom: 1px solid var(--gray-800);
		}
		&-main-info {
			display: flex;
			flex-direction: column;
			gap: 4px;
		}

		&-title {
			display: flex;
			align-items: center;
			gap: 12px;
			margin-bottom: 24px;

			span {
				font-size: 14px;
				font-weight: 600;
				color: var(--dark);
			}

			img {
				width: 40px;
				height: auto;
				object-fit: contain;
			}
		}

		&-field-value {
			display: flex;
			flex-direction: column;
			gap: 4px;
		}

		&-price {
			text-align: right;
			font-size: 16px;

			&--old {
				font-size: 14px;
				text-decoration: line-through;
				color: var(--gray-600);
			}

			&--all {
				font-size: 18px;
				color: var(--primary);
			}
		}
	}

	&-label {
		display: flex;
		align-items: center;
		font-size: 14px;

		.bx-authform-starrequired {
			color: var(--danger);
		}
	}

	&-location-input-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;
		min-height: 40px;

		.bx-soa-custom-label {
			font-weight: 600;
			text-decoration: underline;
			width: 100%;
			max-width: fit-content;
		}
	}

	// Поле для ввода промокода
	// &-coupon {
	// 	display: flex;
	// 	flex-direction: column;
	// 	gap: 6px;
	// 	margin-top: 32px;

	// 	&-label {
	// 		font-size: 14px;
	// 		padding-left: 16px;
	// 	}

	// 	&-input {
	// 		position: relative;
	// 		max-width: 420px;

	// 		&::after {
	// 			position: absolute;

	// 			top: 50%;
	// 			right: 12px;
	// 			transform: translateY(-50%);

	// 			width: 16px;
	// 			height: 16px;
	// 			content: "";
	// 			background-image: url("../../images/arrow-sm.svg");
	// 			background-size: contain;
	// 			background-position: center;
	// 			background-repeat: no-repeat;
	// 		}
	// 	}

	// 	[class^="bx-soa-coupon-item-"] {
	// 		display: flex;
	// 		flex-wrap: wrap;
	// 		align-items: flex-end;
	// 		justify-content: space-between;
	// 		gap: 6px;
	// 		width: 100%;
	// 		font-size: 14px;
	// 		font-weight: 400;
	// 		padding: 6px 12px;
	// 		border-radius: 12px;
	// 		border: 1px solid var(--gray-500);
	// 		background-color: var(--gray-800);

	// 		&:first-child {
	// 			margin-top: 12px;
	// 		}
	// 	}

	// 	&-item {
	// 		display: flex;
	// 		flex-direction: column;
	// 		gap: 8px;
	// 		width: 100%;

	// 		.bx-soa-tooltip {
	// 			width: 100%;
	// 			font-size: 12px;
	// 			font-weight: 600;
	// 			color: var(--dark);

	// 			&-success {
	// 				color: var(--success);
	// 			}

	// 			&-danger,
	// 			&-warning {
	// 				color: var(--danger);
	// 			}
	// 		}
	// 	}

	// 	&-remove {
	// 		display: flex;
	// 		width: 24px;
	// 		height: 24px;
	// 		padding: 2px;
	// 		background-image: url("../../images/cross-icon.svg");
	// 		background-size: contain;
	// 		background-repeat: no-repeat;
	// 		border: none;
	// 		background-color: transparent;
	// 	}
	// }

	&-cart-total-line {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 12px;
		font-size: 14px;
		padding: 4px 0;

		&:not(:last-child) {
			border-bottom: 1px solid var(--gray-800);
		}

		&--total {
			font-size: 22px;
			font-weight: 600;
		}

		&--highlighted {
			span {
				color: var(--success);
			}
		}

		span:has(.bx-soa-cart-total-line-price) {
			text-align: right;
		}
		&-price {
			&--old {
				font-size: 12px;
				text-decoration: line-through;
				color: var(--gray-600);
			}
		}
	}

	&-submit {
		width: 100%;
	}

	// -- доставка/оплата

	&-pp-item-container {
		display: flex;
		flex-direction: column;
		gap: 16px;
		margin-bottom: 24px;

		@include container-up(bx-soa, 620px) {
			flex-direction: row;
			flex-wrap: wrap;
		}

		.bx-soa-pp-company {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 8px 16px;

			border: 2px solid var(--gray-800);
			border-radius: 12px;
			cursor: pointer;

			&.bx-selected {
				border-color: var(--success);
			}

			// контейнер с лого и чекбоксом
			&-graf-container {
				display: flex;
				align-items: center;
				height: fit-content;
				width: fit-content;

				&:has(.bx-soa-pp-company-image) .bx-soa-pp-company-smalltitle {
					margin-left: 8px;
				}
			}

			input {
				display: none;
			}

			&:has(input:checked)::before {
				background-image: url("../../images/check-icon-green.svg");
				background-size: 11px 8px;
				background-repeat: no-repeat;
				background-position: center;
			}

			position: relative;

			&::before {
				position: relative;
				top: 0;
				left: 0;
				width: 24px;
				height: 24px;
				content: "";
				border: 2px solid var(--gray-800);
				border-radius: 50%;
				padding: 2px;
				background-color: var(--white);
				margin-right: 8px;
			}
		}

		// лого доставки/оплаты
		.bx-soa-pp-company-image {
			display: flex;
			width: 24px;
			height: 24px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}

		// подпись
		.bx-soa-pp-company-smalltitle {
			font-size: 12px;
			font-weight: 600;
		}
	}

	&-pp-desc-container {
		.bx-soa-pp-company-name {
			font-size: 22px;
		}

		.bx-soa-pp-company-desc {
			display: flex;
			flex-direction: column;
			gap: 4px;
		}
	}

	&-pp-list {
		list-style: none;
		margin: 12px 0;
		padding: 0;

		li {
			display: flex;
			gap: 8px;
			font-size: 14px;
		}

		&-value {
			font-weight: 600;
		}
	}
}
