.clear-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--primary);
  padding: 0;
  background-color: transparent;
  border: none;

  svg {
    fill: var(--primary);
  }
}
