.contacts {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(35px, 5vw, 80px);

    @media (min-width: 1000px) {
      grid-template-columns: repeat(2, 1fr);
    }

    &__item--info {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
    }

    &__item--map iframe {
      border-radius: var(--base-br);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(20px, 5.2vw, 40px);

    @media (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &-header {
        display: flex;
        align-items: center;
        gap: 8px;

        svg {
          fill: var(--gray-900);
        }
      }

      &-content {
        display: flex;
        flex-direction: column;
        color: var(--primary);
        font-size: 18px;

        a {
          color: var(--primary);
          text-decoration: underline;
        }
      }
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @media (min-width: 534px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
