.contact-block {
	display: flex;
	flex-direction: column;

	gap: 12px;

	&__section {
		display: flex;
		flex-direction: column;
		gap: 12px;

		&-header {
			display: flex;
			align-items: center;
			gap: 6px;

			svg {
				fill: var(--gray-800);
			}
			&-title {
				font-weight: 600;
				color: var(--dark);
			}
		}

		&-content {
			display: flex;
			flex-direction: column;
			gap: 10px;

			img {
				width: 100%;
				max-width: 212px;
				height: auto;
				object-fit: contain;
			}
		}
	}
}
