@use "@scss/base/container-queries" as *;

.order {
  container: order-page / inline-size;

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 28px;
    margin-bottom: 32px;

    @include container-up(order-page, 960px) {
      grid-template-columns: auto 320px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      gap: 24px;

      &--side {
        height: fit-content;
        position: sticky;
        top: 0;
      }
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    padding: 20px 24px;
    border: 1px solid var(--gray-600);
    border-radius: var(--base-br);
  }
}

#loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}

.soa-property-container {
  display: flex;

  &:has(.--iconed-field) {
    position: relative;

    input,
    textarea {
      padding-right: 50px;
      width: 100%;
    }

    // &::after {
    // 	position: absolute;
    // 	top: 9px;
    // 	right: 12px;
    // 	content: "";
    // 	width: 22px;
    // 	height: 22px;
    // 	background-image: url("@img/pen-icon.svg");
    // 	background-size: contain;
    // }
  }

  input,
  textarea {
    font-size: clamp(14px, 2.2vw, 16px);
    font-weight: 400;
    border: 1px solid transparent;
    background-color: var(--secondary);
    font-family: var(--primary-font);
    padding: 8px 12px;
    min-height: 40px;
    border-radius: 4px;
  }

  textarea {
    resize: none;
  }
}

.main-user-consent-request {
  position: relative;
  display: flex;
  padding-left: 20px;
  height: fit-content;
  margin: 12px 0;

  input {
    display: none;
  }

  &:has(input:checked) .main-user-consent-request-announce-link::before {
    background-image: url("../../images/check-icon.svg");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .main-user-consent-request-announce-link {
    position: relative;
    display: block;
    line-height: 1.2;
    font-size: 12px;

    &::before {
      position: absolute;
      top: 0;
      left: -20px;
      width: 14px;
      height: 14px;
      content: "";
      border: 1px solid var(--dark);
      border-radius: 4px;
      padding: 2px;
    }
  }
}

// Битриксовые классы , чтобы верстка не ломалась
.bx-sls {
  width: 100%;
}

.bx_soa_location_wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
// Битриксовые классы
