@use "@scss/base/container-queries" as *;

.multilevel-menu {
	width: 100%;
	container: multilevel-menu / inline-size;

	&__title {
		display: flex;
		font-size: 18px;
		font-weight: bold;
		line-height: 1;
		text-align: left;
		text-transform: uppercase;

		color: var(--white);
		margin-bottom: 10px;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			color: var(--white);

			a {
				display: flex;
				padding: 2px 0;
				color: var(--white);
			}
		}
	}

	& > ul {
		& > li {
			& > a {
				font-size: 16px;
				font-weight: 600;
				color: var(--white);
				margin-bottom: 4px;

				& + ul {
					margin-bottom: 6px;
				}
			}
		}

		& > li:last-child > ul {
			margin-bottom: 0;
		}
	}

	&.column-view {
		& > ul {
			// columns: 200px;
			column-gap: 24px;

			& > li {
				break-inside: avoid;
			}
		}
	}
}
