@use "@scss/base/container-queries" as *;

.article-card {
	height: 100%;
	&-container {
		height: 100%;
		container: article-card / inline-size;
	}

	&__link {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
		gap: 16px clamp(16px, 3.4vw, 40px);
		height: 100%;

		@include container-up(article-card, 650px) {
			grid-template-columns: min(50%, 600px) 1fr;
			grid-template-rows: none;
		}
	}

	img {
		width: 100%;
		height: auto;
		aspect-ratio: 3/2;
		object-fit: contain;
		border-radius: var(--base-br);
		background-color: var(--gray-500);
	}

	&__body {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	h2 {
		margin: 0;
		font-size: clamp(20px, 3cqw, 24px);
		text-transform: none;
		-webkit-line-clamp: 2;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	&__time {
		font-size: 16px;
		line-height: 150%;
		color: var(--gray-700);
		font-weight: 600;
	}

	.clear-btn {
		margin-top: auto;
	}

	.content {
		-webkit-line-clamp: 3;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;

		*:first-child {
			margin-top: 0;
		}
	}
}
