@use "@scss/base/container-queries" as *;

.catalog {
	container: catalog / inline-size;

	margin-bottom: 40px;

	&__header {
		margin-bottom: 32px;
	}

	&__filter-wrapper {
		display: flex;
		flex-direction: column;
		gap: 24px;
		min-width: 0;
	}

	.grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: var(--base-gap);

		@include container-up("catalog", 960px) {
			grid-template-columns: 320px minmax(0, 1fr);
		}

		&-item {
			min-width: 0;

			&--sidebar {
				display: none;
				position: sticky;
				top: 40px;
				height: fit-content;

				@include container-up("catalog", 960px) {
					display: block;
				}
			}

			&--main {
				position: sticky;
				top: 32px;

				display: flex;
				flex-direction: column;
				gap: 24px;

				height: fit-content;
			}
		}
	}
}

// .catalog-action-row {
// 	position: relative;

// 	display: flex;
// 	align-items: center;
// 	gap: 24px;
// }
