.captcha-block {
	display: flex;
	flex-direction: column;
	gap: 8px;
	font-size: 14px;
	color: var(--primary);

	label {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 8px 24px;

		& > span {
			width: 100%;
		}

		img {
			object-fit: contain;
			object-position: center;
			border: 1px solid var(--light);
			border-radius: 30px;
		}

		input {
			font-size: clamp(14px, 2.2vw, 16px);
			font-weight: 400;
			border: 1px solid transparent;
			background-color: var(--secondary);
			font-family: var(--primary-font);
			padding: 8px 12px;
			min-height: 40px;
			border-radius: 4px;
		}

		img,
		input {
			flex-grow: 1;
			width: auto;
		}
	}
}
