@use "@scss/base/container-queries" as *;

.banners {
	&-container {
		container: banners / inline-size;
	}

	.swiper {
		position: relative;

		&-slide {
			height: auto;
		}

		&-pagination {
			&-bullet {
				background-color: var(--white);
			}
		}

		&-horizontal > .swiper-pagination-bullets {
			bottom: 0;
		}
	}
}

.banner {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	padding: clamp(24px, 3.6vw, 40px);

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: var(--base-br);

	overflow: hidden;

	&--default-font {
		color: var(--white);

		.banner__title {
			color: var(--white);
		}
	}

	&--dark-font {
		color: revert;

		.banner__title {
			color: var(--primary);
		}
	}

	&--default-size {
		min-height: 420px;

		@include container-up(banners, 650px) {
			min-height: 450px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: 100%;

		@include container-up(banners, 640px) {
			max-width: 60%;
		}
	}

	.content {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 5;
		overflow: hidden;

		* {
			margin: 0;
		}
	}

	.banner__title {
		margin: 0;

		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
		overflow: hidden;
		text-transform: none;
	}

	&__buttons {
		display: flex;
		flex-wrap: wrap;
		gap: 8px 20px;
	}

	.main-btn {
		width: 100%;

		@include container-up(banners, 480px) {
			width: fit-content;
		}
	}

	&__img {
		display: none;
		position: absolute;
		top: 0;
		bottom: 0;
		left: calc(60% + 20px);
		width: 560px;
		height: 100%;
		object-fit: contain;
		object-position: center;

		@include container-up(banners, 640px) {
			display: block;
		}

		@include container-up(banners, 1200px) {
			left: 60%;
			width: 40%;
		}
	}
}
