@use "@scss/base/container-queries" as *;

.banners {
	&-slider {
		position: relative;

		.swiper-slide {
			height: auto;
		}

		.swiper-pagination-bullet {
			background-color: var(--white);
		}
	}
}

.banner {
	position: relative;

	&-container {
		container: banner / inline-size;
	}

	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	height: 420px;
	padding: clamp(20px, 3.6vw, 40px);
	color: var(--white);
	background-image: url("../images/banner-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--primary);
	border-radius: var(--base-br);
	overflow: hidden;

	@include container-up(banner, 420px) {
		height: 450px;
	}

	@include container-up(banner, 900px) {
		padding-bottom: clamp(20px, 3.6vw, 40px);
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: 100%;

		@include container-up(banner, 640px) {
			max-width: 60%;
		}
	}

	.banner__title {
		margin: 0;
		color: var(--white);
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
		overflow: hidden;
		text-transform: none;
	}

	.content {
		color: var(--white);
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 5;
		overflow: hidden;
	}

	&__buttons {
		display: flex;
		flex-wrap: wrap;
		gap: 8px 20px;

		.main-btn {
			width: 100%;
		}

		@include container-up(banner, 480px) {
			.main-btn {
				width: fit-content;
			}
		}
	}

	&__img {
		display: none;

		@include container-up(banner, 640px) {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 65%;
			display: block;
			width: 560px;
			height: 100%;
			object-fit: contain;
			object-position: center;
		}

		@include container-up(banner, 1200px) {
			left: 60%;
			width: 40%;
		}
	}
}
