@use "@scss/base/container-queries" as *;

.callback {
	container: callback / inline-size;

	&.callback--fullwidth {
		.container {
			@include container-up(callback, 920px) {
				grid-template-columns: 1fr;
			}
		}
	}

	&--jeans-bg {
		form {
			background-image: url(../images/jeans-bg.jpg);
			background-size: cover;
			a {
				color: var(--white);
				text-decoration: underline;
			}
		}
	}

	.container {
		display: grid;
		grid-template-columns: 1fr;
		gap: 24px;

		@include container-up(callback, 920px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&-form {
		// align-items: center;
		border-radius: 20px;
		background: var(--primary);
		overflow: hidden;

		&__content {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 16px;
			width: 100%;

			@include container-up(form, 850px) {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				align-items: center;
				max-width: 900px;
				margin: 0 auto;
			}
		}

		.main-checkbox-wrapper {
			margin: 12px 0;
			align-items: flex-start;
			grid-column: 1/-1;
			justify-self: center;

			@media (max-width: 500px) {
				gap: 20px;
			}

			&::before {
				border: 1px solid var(--white);
			}
		}

		form {
			container: form / inline-size;
			padding: clamp(24px, 4vw, 60px);
			margin: 0 auto;
			z-index: 3;

			color: var(--white);

			.main-input-wrapper {
				width: 100%;
			}

			*[type="submit"] {
				background-color: var(--white);
				color: var(--dark);
				width: fit-content;
				min-width: 240px;
				grid-column: 1/-1;
				justify-self: center;
			}
		}

		&__header {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			gap: 10px;
			width: 100%;
			margin-bottom: 10px;

			* {
				margin: 0;
				color: var(--white);
			}
		}

		.main-textarea-wrapper {
			width: 100%;
			grid-column: 1/-1;
		}
	}

	img {
		display: none;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 20px;

		@include container-up(callback, 920px) {
			display: flex;
		}
	}
}

.rate {
	display: flex;
	align-items: center;
	gap: 10px;
	grid-column: 1/-1;
	justify-content: center;
}

.rate label input[type="radio"] {
	display: none;
}
.rate label svg {
	width: clamp(24px, 2.4vw, 40px);
	height: auto;
	fill: var(--white);
	transition: fill var(--main-transition);
}
.rate label:has(input:checked) svg,
.rate label.filled svg {
	fill: var(--warning);
}
