@use "@scss/base/container-queries" as *;

.profile {
	container: profile / inline-size;

	.container {
		display: flex;
		flex-direction: column;
		max-width: 840px;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 4px;
		padding-bottom: 16px;

		small {
			font-style: 14px;
			font-weight: 600;
		}
	}

	&__main {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__pswd-block {
		display: flex;
		flex-direction: column;
		gap: 16px;

		small {
			padding: 8px 0;
			font-size: 12px;
			color: var(--dark);
		}
	}

	&__footer {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 12px;
		padding-top: 24px;

		input {
			flex-grow: 1;
		}
	}

	form {
		.alert {
			margin: 0;
		}
	}

	.grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: var(--base-gap);

		@include container-up(profile, 620px) {
			grid-template-columns: 220px auto;
		}

		&__item {
			height: fit-content;

			@include container-up(profile, 620px) {
				position: sticky;
				top: 32px;
			}
		}
	}

	.alert {
		font-weight: 600;
		padding: 12px 20px;
	}
}

.personal-sidebar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: clamp(6px, 2.4vw, 12px);

	a {
		padding: 4px 12px;
		font-size: 12px;
		width: fit-content;

		@include container-up(profile, 620px) {
			width: 100%;
		}
	}
}
