.company-ratings {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
	gap: clamp(20px, 3vw, 40px);

	li {
		display: flex;
		min-width: 0;
		width: 100%;
		max-width: 560px;
	}
}

.company-rating {
	display: flex;
	gap: 20px;
	padding: 20px 30px;
	background-color: var(--gray-500);
	border-radius: 10px;
	width: 100%;
	max-width: 560px;

	&__logo {
		width: 100%;
		max-width: 40px;
	}

	&__name,
	&__text {
		grid-column: 1/-1;
	}

	&__name,
	&__value {
		font-weight: 700;
	}

	&__content {
		display: grid;
		grid-template-columns: min-content auto;
		flex-direction: column;
		gap: 4px 10px;
		align-items: center;
	}

	&__stars {
		display: flex;
		gap: 4px;
	}

	&__star {
		fill: var(--gray-600);

		&--filled {
			fill: var(--warning);
		}
	}
}
