.bx-catalog-compare {
	display: none;
	flex-direction: column;
	gap: 12px;
	position: fixed;
	top: 120px;
	right: 0;
	padding: 20px;

	background: var(--white);
	border: 1px solid var(--gray-600);
	border-right: none;
	border-radius: 4px 0 0 4px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
	z-index: 89;
	width: 100%;
	max-width: 420px;

	&-header {
		display: flex;
		align-items: center;
		gap: 12px;

		svg {
			width: 16px;
			height: 16px;
			fill: var(--primary);
		}

		span {
			font-size: 14px;
			color: var(--dark);
		}
	}

	&-list {
		display: flex;
		flex-direction: column;
		gap: 4px;
		margin: 0;
		padding: 0;
		list-style: none;

		height: 100%;
		max-height: 60px;
		overflow: hidden;
		overflow-y: auto;
		padding-right: 12px;
		scrollbar-gutter: stable;

		&::-webkit-scrollbar {
			background-color: var(--light);
			width: 4px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--primary);
		}

		li {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 16px;
			padding: 4px 0;
			border-bottom: 1px solid var(--light);

			a {
				font-size: 14px;
			}

			button {
				padding: 0;
				border: none;
				background-color: transparent;
				font-size: 12px;
				text-decoration: underline;
				color: var(--danger);
			}
		}
	}

	&-link {
		font-size: 14px;
		text-decoration: underline;
		color: var(--primary);
	}

	&.active {
		display: flex;
	}
}
