@use "@scss-root/extends";

.search-page {
	.container {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.search-language-guess {
		// padding-left: 12px;
		// border-left: 2px solid var(--danger);
		font-style: italic;
	}

	&__sort {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 12px;

		&-item {
			font-size: 14px;
			padding: 4px 12px;
			border: 1px solid var(--dark);
			border-radius: 4px;
			color: var(--dark);

			&.active {
				font-weight: 500;
				border: 1px solid var(--primary);
				color: var(--primary);
			}
		}
	}

	form {
		margin-bottom: 16px;
		max-width: 440px;
	}

	.pagination {
		margin: 0;
	}

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;

		&-item {
			display: flex;
			flex-direction: column;
			gap: 6px;
			padding: 16px 0;
			border-top: 1px solid var(--gray-500);

			& > a {
				font-weight: 500;
				width: fit-content;
				margin-bottom: 10px;
				border-bottom: 1px solid var(--primary);

				color: var(--dark);
			}

			a {
				@extend %hover-opacity;

				b {
					color: var(--primary);
				}
			}
		}
	}

	p {
		margin: 0;
	}
}
